<div>
  <h3>팟캐스트 추가</h3>
  <form action="/addPodCast" method="post">
      <div class="form-group">
          <label>title</label>
          <input type="text" class="form-control" name="title">
      </div>
      <div class="form-group">
          <label>author</label>
          <input type="text" class="form-control" name="author">
      </div>
      <div class="form-group">
          <label>description</label>
          <input type="text" class="form-control" name="desc">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">확인</button>
  </form>
</div>
