<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>NO SIDE STUDIO</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <audio controls>
          <source src="https://s3.ap-northeast-2.amazonaws.com/noside-project-cdn/%EB%82%98%EB%A7%8C%EC%9D%98+%EC%9E%AC%EC%83%9D%EB%AA%A9%EB%A1%9D_6_nbyYfy0W.mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>
  </div>
</header>
