<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ./_partials/head %>
</head>
<body>
    <header>
        <% include ./_partials/header %>
    </header>
    <div id="main" style="border: 1px solid #dedede;">
        <%- body %>
    </div>
    <footer>
        푸터영역
    </footer>
    <%- script %>
</body>
</html>
