<!--- episode list -->
<div class="podcast-page">

	<div id="wrapper">

<div data-announcement-top-bar="/ajax/announcement"></div>

<div class="podcast-episodes golden-theme show-scroll-arrow animate" data-song-index="0" style="background-image: url('/')">
	<a id="season_two"></a>
	<div class="inner-section">
		<div class="episode-details">
			<div class="illustration small-image">
				<div class="illustration-sleeve">
					<div class="illustration-mask">
						<img src="#" alt="mega phone">
					</div>
				</div>
			</div>
			<div class="episode-details-wrapper new-episode">
				<div class="heading"> EP.1 - <span>SECOND SEASON</span> </div>
				<h3>Of Ms. and Men</h3>
                <div id="audio-wrapper-second-first-mobile" class="audio-outer-wrapper">
				</div>
                <p>A writer, activist and co-founder of Ms. magazine, Gloria Steinem has played a pivotal role in the women's movement. But she first garnered national attention in 1963 when she went undercover as a Playboy Bunny and wrote a damning expose about her experiences inside the famous men's club.</p>
				<div class="control-wrapper">
                    <div id="audio-wrapper-second-first-tablet" class="audio-outer-wrapper">
						<div class="audio-wrapper show" data-audio-bar="">
						  <audio class="audio-basic-player" controls="">
							    <source src="#" type="audio/mpeg">
						    </audio>
						  <div class="audio-controls">
								<span class="button amplitude-play-pause amplitude-paused" amplitude-song-index="0"></span>
								 <div class="progress-bar">
									<input type="range" id="amplitude-song-slider-0" class="amplitude-song-slider" amplitude-song-index="0" step=".1">
									<progress id="song-played-progress-0" amplitude-song-index="0" class="amplitude-song-played-progress" value="0"></progress>
									<div class="playbutton amplitude-play" amplitude-song-index="0">LISTEN NOW</div>
								</div>
								<span class="amplitude-time-remaining" amplitude-song-index="0">24:20</span>
								<span class="amplitude-mute amplitude-not-muted"></span>
							</div>
					    </div>
				    </div>
					<a class="link-button" target="_blank" href="/">
						<img src="#" alt="Apple Podcast Button">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="podcast-episodes golden-theme animate" data-song-index="1" style="background-image: url('/')">
	<div class="inner-section">
		<div class="episode-details">
			<div class="illustration small-image left-align">
				<div class="illustration-sleeve">
					<div class="illustration-mask">
						<img src="#" alt="Bunny ears Illustration">
					</div>
				</div>
			</div>
			<div class="episode-details-wrapper new-episode">
				<div class="heading"> EP.2 - <span>SECOND SEASON</span> </div>
				<h3>The Playboy Mystique </h3>
				<div id="audio-wrapper-second-second-mobile" class="audio-outer-wrapper">
				</div>
				<p> Riding the wave of the sexual revolution of the 1950s and 1960s, Hugh Hefner created a male fantasy world in the pages of his <i>Playboy</i> magazine, one that would have lasting consequences for American life and culture. Behind closed doors, however, Hefner's life in the celebrated Playboy mansion was rather different than the sophisticated one portrayed in his magazine. </p>
				<div class="control-wrapper">
					<div id="audio-wrapper-second-second-tablet" class="audio-outer-wrapper">
						<div class="audio-wrapper show" data-audio-bar="">
						 	<audio class="audio-basic-player" controls="">
							    <source src="/" type="audio/mpeg">
						    </audio>

							<div class="audio-controls">
								<span class="button amplitude-play-pause amplitude-paused" amplitude-song-index="1"></span>
								 <div class="progress-bar">
									<input type="range" id="amplitude-song-slider-1" class="amplitude-song-slider" amplitude-song-index="1" step=".1">
									<progress id="song-played-progress-1" amplitude-song-index="1" class="amplitude-song-played-progress" value="0"></progress>
									<div class="playbutton amplitude-play" amplitude-song-index="1">LISTEN NOW</div>
								</div>
								<span class="amplitude-time-remaining" amplitude-song-index="1">30:31</span>
								<span class="amplitude-mute amplitude-not-muted"></span>
							</div>
						</div>
					</div>
					<a class="link-button" target="_blank" href="/">
						<img src="#" alt="Apple Podcast Button">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="podcast-episodes golden-theme animate" data-song-index="2" style="background-image: url('/')">
	<div class="inner-section">
		<div class="episode-details">
			<div class="illustration small-image">
				<div class="illustration-sleeve">
					<div class="illustration-mask">
						<img src="#" alt="star Illustration">
					</div>
				</div>
			</div>
			<div class="episode-details-wrapper new-episode">
				<div class="heading"> EP.3 - <span>SECOND SEASON</span> </div>
				<h3>The Woman Who Will Not Die</h3>
				<div id="audio-wrapper-second-third-mobile" class="audio-outer-wrapper">
				</div>
				<p>Marilyn Monroe was larger than life. But beneath the soft-spoken movie star and sex goddess was another woman, one far bolder than most people realize. Monroe was an actress ahead of her time, one who was not afraid to stand up to some of the most powerful men in Hollywood — the men she called the "wolves."</p>
				<div class="control-wrapper">
					<div id="audio-wrapper-second-third-tablet" class="audio-outer-wrapper">
						<div class="audio-wrapper show" data-audio-bar="">
						 	<audio class="audio-basic-player" controls="">
							    <source src="/" type="audio/mpeg">
						    </audio>

							<div class="audio-controls">
								<span class="button amplitude-play-pause amplitude-paused" amplitude-song-index="2"></span>
								 <div class="progress-bar">
									<input type="range" id="amplitude-song-slider-2" class="amplitude-song-slider" amplitude-song-index="2" step=".1">
									<progress id="song-played-progress-2" amplitude-song-index="2" class="amplitude-song-played-progress" value="0"></progress>
									<div class="playbutton amplitude-play" amplitude-song-index="2">LISTEN NOW</div>
								</div>
								<span class="amplitude-time-remaining" amplitude-song-index="2">26:52</span>
								<span class="amplitude-mute amplitude-not-muted"></span>
							</div>
						</div>
					</div>
					<a class="link-button" target="_blank" href="/">
						<img src="#" alt="Apple Podcast Button">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="podcast-episodes golden-theme animate" data-song-index="3" style="background-image: url('/')">
	<div class="inner-section">
		<div class="episode-details">
			<div class="illustration small-image left-align">
				<div class="illustration-sleeve">
					<div class="illustration-mask">
						<img src="#" alt="vegas">
					</div>
				</div>
			</div>
			<div class="episode-details-wrapper new-episode">
				<div class="heading"> EP.4 - <span>SECOND SEASON</span> </div>
				<h3>The Misfits</h3>
				<div id="audio-wrapper-second-fourth-mobile" class="audio-outer-wrapper">
				</div>
				<p>In 1931, in the depths of the Great Depression, the Nevada legislature passed two bills: one to legalize gambling, the other to legalize a six-week waiting period for a divorce. Over the next few decades, hundreds of thousands of people, mostly women, would journey to the desert state for a quickie divorce, a chance to forget their problems and a shot at reinvention.</p>
				<div class="control-wrapper">
					<div id="audio-wrapper-second-fourth-tablet" class="audio-outer-wrapper">
						<div class="audio-wrapper show" data-audio-bar="">
						 	<audio class="audio-basic-player" controls="">
							    <source src="/" type="audio/mpeg">
						    </audio>

							<div class="audio-controls">
								<span class="button amplitude-play-pause amplitude-paused" amplitude-song-index="3"></span>
								 <div class="progress-bar">
									<input type="range" id="amplitude-song-slider-3" class="amplitude-song-slider" amplitude-song-index="3" step=".1">
									<progress id="song-played-progress-3" amplitude-song-index="3" class="amplitude-song-played-progress" value="0"></progress>
									<div class="playbutton amplitude-play" amplitude-song-index="3">LISTEN NOW</div>
								</div>
								<span class="amplitude-time-remaining" amplitude-song-index="3">26:52</span>
								<span class="amplitude-mute amplitude-not-muted"></span>
							</div>
						</div>
					</div>
					<a class="link-button" target="_blank" href="/">
						<img src="#" alt="Apple Podcast Button">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="podcast-episodes golden-theme animate" data-song-index="4" style="background-image: url('/')">
	<div class="inner-section">
		<div class="episode-details">
			<div class="illustration small-image">
				<div class="illustration-sleeve">
					<div class="illustration-mask">
						<img src="#" alt="clapboardIllustration">
					</div>
				</div>
			</div>
			<div class="episode-details-wrapper new-episode">
				<div class="heading"> EP.5 - <span>SECOND SEASON</span> </div>
				<h3>The King of Hollywood</h3>
				<div id="audio-wrapper-second-fifth-mobile" class="audio-outer-wrapper">
				</div>
				<p> The film legend Clark Gable was a key figure at the heart of the glamour and excess of the Golden Age of Hollywood. But his rise and scandal-buried reign at the top of the movie world reveal a great deal about a young industry both obsessed with adhering to morality codes, and incapable of being moral.</p>
				<div class="control-wrapper">
					<div id="audio-wrapper-second-fifth-tablet" class="audio-outer-wrapper">
						<div class="audio-wrapper show" data-audio-bar="">
						 	<audio class="audio-basic-player" controls="">
							    <source src="/" type="audio/mpeg">
						    </audio>

							<div class="audio-controls">
								<span class="button amplitude-play-pause amplitude-paused" amplitude-song-index="4"></span>
								 <div class="progress-bar">
									<input type="range" id="amplitude-song-slider-4" class="amplitude-song-slider" amplitude-song-index="4" step=".1">
									<progress id="song-played-progress-4" amplitude-song-index="4" class="amplitude-song-played-progress" value="0"></progress>
									<div class="playbutton amplitude-play" amplitude-song-index="4">LISTEN NOW</div>
								</div>
								<span class="amplitude-time-remaining" amplitude-song-index="4">29:18</span>
								<span class="amplitude-mute amplitude-not-muted"></span>
							</div>
						</div>
					</div>
					<a class="link-button" target="_blank" href="/">
						<img src="#" alt="Apple Podcast Button">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="podcast-episodes golden-theme animate" data-song-index="5" style="background-image: url('/')">
	<div class="inner-section">
		<div class="episode-details">
			<div class="illustration small-image left-align">
				<div class="illustration-sleeve">
					<div class="illustration-mask">
						<img src="#" alt="spool Illustration">
					</div>
				</div>
			</div>
			<div class="episode-details-wrapper new-episode">
				<div class="heading"> EP.6 - <span>SECOND SEASON</span> </div>
				<h3>From MGM to #MeToo</h3>
				<div id="audio-wrapper-second-sixth-mobile" class="audio-outer-wrapper">
				</div>
				<p>The Hollywood casting couch existed long before Harvey Weinstein. In this final episode of the season, we explore some of Weinstein's antecedents in the industry, the scandals and crimes they covered up and how a new generation of Gloria Steinem-inspired women is starting to put an end to the old practices of Hollywood and other male-dominated industries.</p>

        <div class="control-wrapper">
					<div id="audio-wrapper-second-sixth-tablet" class="audio-outer-wrapper">
						<div class="audio-wrapper show" data-audio-bar="">
						 	<audio class="audio-basic-player" controls="">
							    <source src="https://traffic.libsyn.com/thethreadwithozy/FINAL.Thread.S02E06.USE.mp3" type="audio/mpeg">
						    </audio>

							<div class="audio-controls">
								<span class="button amplitude-play-pause amplitude-paused" amplitude-song-index="5"></span>
								 <div class="progress-bar">
									<input type="range" id="amplitude-song-slider-5" class="amplitude-song-slider" amplitude-song-index="5" step=".1">
									<progress id="song-played-progress-5" amplitude-song-index="5" class="amplitude-song-played-progress" value="0"></progress>
									<div class="playbutton amplitude-play" amplitude-song-index="5">LISTEN NOW</div>
								</div>
								<span class="amplitude-time-remaining" amplitude-song-index="5">28:58</span>
								<span class="amplitude-mute amplitude-not-muted"></span>
							</div>

						</div>
					</div>
					<a class="link-button" target="_blank" href="#">
						<img src="#" alt="Apple Podcast Button">
					</a>
				</div>

			</div>

		</div>
	</div>
</div>

	</div>

<div class="audio-playlist golden-theme" data-audio-playlist="">
    <div class="playlist-dialog">
        <div class="playlist-close-button" data-playlist-close-dialog=""></div>
        <img src="#">
        <div class="pick-season-wrapper" data-theme="golden-theme">
            <div class="pick-seasons" data-pick-item="">
                <span class="season-selected" data-selected-item="">
                    <div class="wrapper golden-theme">
                        <span class="season-icon">
                            <img src="#" class="icon-normal">
                            <img src="#" class="icon-hover">
                        </span>
                        SECOND SEASON <span class="details">The Road to Gloria Steinem</span>
                    </div>
                </span>
                <ul class="dropdown-menu">
                    <li>
                        <a class="selected" data-theme="golden-theme" data-playlist-name="season two" data-value="season two">
                            <div class="wrapper golden-theme">
                                <span class="season-icon">
                                    <img src="#" class="icon-normal">
                                    <img src="#" class="icon-hover">
                                </span>
                                SECOND SEASON <span class="details">The Road to Gloria Steinem</span>
                            </div>
                        </a>
                    </li><li>
                        <a href="/">
                            <div class="wrapper">
                                <span class="season-icon">
                                    <img src="#" class="icon-normal">
                                    <img src="#" class="icon-hover">
                                </span>
                                BONUS EPISODES <span class="details">featuring new threads</span>
                            </div>
                        </a>
                    </li><li>
                        <a href="/">
                            <div class="wrapper">
                                <span class="season-icon">
                                    <img src="#" class="icon-normal">
                                    <img src="#" class="icon-hover">
                                </span>
                                FIRST SEASON <span class="details">The Murder of john lennon</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="episodes-list selected golden-theme" data-episodes-list="" data-playlist-name="season two">
            <li class="episode amplitude-play" data-playlist-name="season two" data-playlist-song-index="0" amplitude-song-index="0" data-episode-title="Of Ms. and Men" data-episode-url="https://traffic.libsyn.com/thethreadwithozy/DRAFT10.Thread.S02E01.mp3" data-episode-image="/">
                <span class="episode-number"> EP.1 </span>
                <span class="episode-title">Of Ms. and Men</span>
                <span class="status"></span>
            </li>
            <li class="episode amplitude-play" data-playlist-name="season two" data-playlist-song-index="1" amplitude-song-index="1" data-episode-title="The Playboy Mystique" data-episode-url="https://traffic.libsyn.com/thethreadwithozy/DRAFT5.Thread.S02E02_1.mp3" data-episode-image="/">
                <span class="episode-number"> EP.2 </span>
                <span class="episode-title">The Playboy Mystique</span>
                <span class="status"></span>
            </li>
             <li class="episode amplitude-play" data-playlist-name="season two" data-playlist-song-index="2" amplitude-song-index="2" data-episode-title="The Woman Who Will Not Die" data-episode-url="https://traffic.libsyn.com/thethreadwithozy/OZY.Thread.S02E03_USE.mp3" data-episode-image="/">
                <span class="episode-number"> EP.3 </span>
                <span class="episode-title">The Woman Who Will Not Die</span>
                <span class="status"></span>
            </li>
            <li class="episode amplitude-play" data-playlist-name="season two" data-playlist-song-index="3" amplitude-song-index="3" data-episode-title="The Misfits" data-episode-url="https://traffic.libsyn.com/thethreadwithozy/THREAD.S02E04.FInal.mp3" data-episode-image="/">
                <span class="episode-number"> EP.4 </span>
                <span class="episode-title">The Misfits</span>
                <span class="status"></span>
            </li>
            <li class="episode amplitude-play" data-playlist-name="season two" data-playlist-song-index="4" amplitude-song-index="4" data-episode-title="The King of Hollywood" data-episode-url="https://traffic.libsyn.com/thethreadwithozy/THREAD.S02E05.Final_.mp3" data-episode-image="/">
                <span class="episode-number"> EP.5 </span>
                <span class="episode-title">The King of Hollywood </span>
                <span class="status"></span>
            </li>
            <li class="episode amplitude-play" data-playlist-name="season two" data-playlist-song-index="5" amplitude-song-index="5" data-episode-title="From MGM to #MeToo" data-episode-url="https://traffic.libsyn.com/thethreadwithozy/FINAL.Thread.S02E06.USE.mp3" data-episode-image="/">
                <span class="episode-number"> EP.6 </span>
                <span class="episode-title">From MGM to #MeToo</span>
                <span class="status"></span>
            </li>
        </ul>
        <div class="subscribe">
            <a href="/" target="_blank" data-android-src="https://www.stitcher.com/podcast/ozycom/the-thread-with-ozy?refid=stpr" data-android-text="Subscribe Now">Subscribe on Apple Podcasts</a>
        </div>
    </div>
    <div class="audio-wrapper" data-audio-bar="">
        <div id="meta-container" data-playlist-open-dialog="">
            <img amplitude-song-info="podcast_episode_cover_art_url" amplitude-main-song-info="true" src="#" class="art mobile-hide">
            <div class="other-episode-info">
                <span amplitude-song-info="name" amplitude-main-song-info="true" class="song-name">Of Ms. and Men</span>
                <span class="heading">
                    <span amplitude-song-info="album" class="thread mobile-hide">THE THREAD</span>
                    <span amplitude-song-info="episode" amplitude-main-song-info="true" class="episode-number">EP. 1</span>
                </span>
            </div>
        </div><div class="audio-controls">
            <span class="button amplitude-play-pause amplitude-paused" amplitude-main-play-pause="true"></span>
            <div class="progress-bar">
                <input type="range" class="amplitude-song-slider" amplitude-main-song-slider="true" step=".1">
                <progress id="song-played-progress" amplitude-main-song-played-progress="true" class="amplitude-song-played-progress" value="0"></progress>
            </div>
            <span class="amplitude-time-remaining" amplitude-main-time-remaining="true">24:20</span>
            <span class="amplitude-mute amplitude-not-muted"></span>
        </div><div class="sharing-options">
            <span>SHARE</span>
            <span class="share">
                <a facebook-share="" class="facebook" href="/" addthis:url="/" addthis:title="OZY's Chart-Topping Podcast Is Back. Listen Now." addthis:description="In season two, we’re pulling the thread on the #MeToo movement." title="Share to Facebook">
                    <span class="assistive-text">Follow The Thread on Facebook</span>
                </a>
                <a twitter-share="" class="twitter" href="/" addthis:url="/" addthis:title="OZY's Chart-Topping Podcast Is Back. Listen Now." addthis:description="In season two, we’re pulling the thread on the #MeToo movement." title="Share to twitter">
                    <span class="assistive-text">Follow The Thread on Twitter</span>
                </a>
            </span>
        </div>
        <div class="close-button" data-playlist-close="">
        </div>
    </div>
</div>

</div>
