<!--  팟캐스트 목록
<section class="forum-list__threads">
  <nav class="forum-list__threads-nav">
    <div class="forum-list__filters-wrapper">
      <div  class="forum-filters ember-view">
        <a  href="/" class="forum-filters__filter active ember-view">Top</a>

        <a  href="/forum/newest/page/1" class="forum-filters__filter ember-view">Newest</a>

        <a  href="/forum/week-of-2018-07-23/page/1" class="forum-filters__filter ember-view">Week</a>

        <a  href="/forum/month-of-2018-07/page/1" class="forum-filters__filter ember-view">Month</a>

        <a  href="/forum/all-time/page/1" class="forum-filters__filter ember-view">All-Time</a>
      </div>
    </div>
    <a  href="/forum/post/new" class="forum-list__submit-link ember-view">New Post</a>
  </nav>

  <div class="forum-list__thread-list">
    <div class="thread-row forum-list__thread ember-view">
      <div class="user-link thread__user-link ember-view">
        <a href="/user/JVS?id=eXb728zm4iW1UNd5DwJuyM4exWx1" class="user-link__link ember-view">
          <span  class="user-avatar user-link__avatar ember-view">
            <img class="user-avatar__img" src="https://storage.googleapis.com/indie-hackers.appspot.com/avatars/72x72_eXb728zm4iW1UNd5DwJuyM4exWx1">
          </span>
          <span class="user-link__username">
            JVS
          </span>
        </a>
      </div>

      <div class="thread-voter ember-view">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="thread-voter__icon ember-view">
          <path d="M0 15.878 l12-11.878 12 11.878-4 4.122-8-8-8 8-4-4.122z"></path>
        </svg>

        <div class="thread-voter__text">
          <div class="thread-voter__count">3</div>
        </div>
      </div>

      <div class="thread__details">
        <a  href="/forum/has-anyone-here-entered-the-chinese-app-market-1675a7d59b" class="thread__title ember-view">
          Has anyone here entered the Chinese app market?
      </a>

        <div class="thread__metadata">
          <div class="user-link thread-metadata__user-link ember-view">
            <a href="/user/JVS?id=eXb728zm4iW1UNd5DwJuyM4exWx1" class="user-link__link ember-view">
              <span class="user-avatar user-link__avatar ember-view">
                <img class="user-avatar__img" src="https://storage.googleapis.com/indie-hackers.appspot.com/avatars/72x72_eXb728zm4iW1UNd5DwJuyM4exWx1">
              </span>
              <span class="user-link__username">
                JVS
              </span>
            </a>
          </div>

          <span class="thread__middot">·</span>

          <a  title="Friday, July 27th 2018 (2:24 pm)" href="/forum/has-anyone-here-entered-the-chinese-app-market-1675a7d59b" class="thread__date ember-view">
          2 hours ago
          </a>
          <span class="thread__middot">·</span>
          <a  href="/forum/has-anyone-here-entered-the-chinese-app-market-1675a7d59b" class="thread__reply-count ember-view">
            3 comments
          </a>

        </div>
      </div>
    </div>

  </div>
</section>

-->
