
<div class="ember-view" id="ember333"><!---->

<!---->
<!---->
<div class="forum">
<div class="forum-list">
<div class="forum-list__content">



  <section class="forum-list__threads
                    no-thread-animations">

    <div class="forum-list__thread-list">



      <div id="ember609" class="thread-row forum-list__thread ember-view">
        <div id="ember618" class="user-link thread__user-link ember-view">
          <a id="ember621" href="#" class="user-link__link ember-view">
            <span id="ember642" class="user-avatar user-link__avatar ember-view">
            <img class="user-avatar__img" src="https://storage.googleapis.com/indie-hackers.appspot.com/avatars/72x72_zEICMfGmQKbgPSOKleANGWqL9NG3">
            </span>
            <span class="user-link__username">
                NOSIDE_admin <!-- ejs구문 author-->
            </span>
          </a>
        </div>
        <div id="ember645" class="thread-voter ember-view">
          <svg id="ember646" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="thread-voter__icon ember-view">
          <path d="M0 15.878 l12-11.878 12 11.878-4 4.122-8-8-8 8-4-4.122z">
          </path>
          </svg>
          <div class="thread-voter__text">
            <div class="thread-voter__count"><!-- ejs구문 like--></div>
          </div>
        </div>

        <div class="thread__details">
          <a id="ember647" href="/podItem" class="thread__title ember-view">
            Welcome NOSIDE STUDIO <!-- ejs구문 title-->
          </a>

          <div class="thread__metadata">
            <div id="ember658" class="user-link thread-metadata__user-link ember-view">
              <a id="ember659" href="/user/MattWalter?id=zEICMfGmQKbgPSOKleANGWqL9NG3" class="user-link__link ember-view">
                 <span id="ember660" class="user-avatar user-link__avatar ember-view">
                   <img class="user-avatar__img" src="https://storage.googleapis.com/indie-hackers.appspot.com/avatars/72x72_zEICMfGmQKbgPSOKleANGWqL9NG3">
                </span>
                <span class="user-link__username">
                  NOSIDE_admin <!-- ejs구문 author-->
                </span>



                <!----></a>
              <!---->
            </div>

            <span class="thread__middot">·</span>

            <a id="ember661" title="Sunday, July 29th 2018 (6:19 pm)" href="/" class="thread__date ember-view"> 20 minutes ago <!-- ejs구문 date-->
            </a>
            <span class="thread__middot">·</span>

            <a id="ember666" href="/" class="thread__reply-count ember-view"> 4 clicks <!-- ejs구문 조회수?-->
            </a>
            <!---->
          </div>
        </div>

        </div>

    </div>
  </section>
</div>

</div>
</div>
</div>
