<script src="https://unpkg.com/vue"></script>
<style>
        #app {
            margin-top: 50px;
            width : 80%;
        }
</style>
<div id="app">
  <p>{{ message }}</p>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!'
  }
})
</script>