<!-- 로그인 페이지 -->
<!DOCTYPE html>
<div>
  <h3>회원가입</h3>
  <form action="/signup" method="post">
      <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="username">
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">확인</button>
  </form>

  <p>계정이 없다면? <a href="/register">회원가입</a></p>
  <p>Or go <a href="/">home</a>.</p>
</div>
