<div>
    <ul>
        <li class="infomenu" id="user">
            <button>프로필</button>
            <ul class="hide">
                <li>email : <%= user.username %></li>
            </ul>
        </li>

        <li class="infomenu" id="chpwd">
            <button>비밀번호</button>
            <ul class="hide">
                <li>이전 비밀번호</li>
                  <input type="password" class="form-control" name="password">
                <li>새 비밀번호</li>
                  <input type="password" class="form-control" name="password">
                <li>비밀번호 확인</li>
                  <input type="password" class="form-control" name="password">
                <button type="submit" class="btn btn-warning btn-lg">변경사항 저장</button>
            </ul>
        </li>

        <li class="infomenu" id="leave">
            <button>계정삭제</button>
            <ul class="hide">
                <li>password 입력</li>
                  <input type="password" class="form-control" name="password">
            </ul>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function(){
        // menu 클래스 바로 하위에 있는 a 태그를 클릭했을때
        $(".infomenu>button").click(function(){
            var submenu = $(this).next("ul");

            // submenu 가 화면상에 보일때는 위로 보드랍게 접고 아니면 아래로 보드랍게 펼치기
            if( submenu.is(":visible") ){
                submenu.slideUp();
            }else{
                submenu.slideDown();
            }
        });
         $(".menu:eq(0)>a").click();
    });
</script>
