<script>
    // html dom 이 다 로딩된 후 실행된다.
    $(document).ready(function(){
        // menu 클래스 바로 하위에 있는 a 태그를 클릭했을때
        $(".menu>a").click(function(){
            var submenu = $(this).next("ul");

            // submenu 가 화면상에 보일때는 위로 보드랍게 접고 아니면 아래로 보드랍게 펼치기
            if( submenu.is(":visible") ){
                submenu.slideUp();
            }else{
                submenu.slideDown();
            }
        });
    });
</script>
<style>
    .group{cursor:pointer;}
    .menu .hide{display:none;}
</style>

<div class="login-wrap">
  <div class="usrinfo-html">
  <form class="login-form">
    <div class="usrinfo-wrap">
      <% if(message.length > 0){ %>
      <div class="group">
          <p class="greet"> <%= message %> </p>
      </div>
      <% } %>
      <div class="group">
          <p class="greet"> <%=username %> 님, 안녕하세요 </p>
      </div>

      <form action="/changePassword" method="post">
          <p class="group-label ">비밀번호 변경</p>
          <div class="group">
              <label>이전 비밀번호</label>
              <input type="text" class="form-control" name="prevPassword">
          </div>
          <div class="group">
              <label>새 비밀번호</label>
              <input type="password" class="form-control" name="newPassword">
          </div>
          <div class="group">
              <label>새 비밀번호 확인</label>
              <input type="password" class="form-control" name="newPasswordCheck">
              <button type="submit" class="button">확인</button>
          </div>

      </form>

      <form action="/emailVerification" method="post">
        <p class="group-label">이메일 인증</p>
          <div class="group">
              <label>이메일</label>
              <input type="email" class="form-control" name="email">
              <button type="submit" class="button">인증</button>
          </div>

      </form>
    </div>
    </form>
  </div>
</div>
