<div class="login-wrap">
  <div class="login-form">
      <div class="group">
        <label class="label">프로필</label>
          <p> email : <%=username %> </p>
      </div>

      <div class="hr"></div>

      <div class="group">
        <label for="chpwd" class="label">이전 비밀번호</label>
        <input class="chpwd" type="password" class="input" data-type="password">
        <label for="chpwd" class="label">새 비밀번호</label>
        <input class="chpwd" type="password" class="input" data-type="password">
        <label for="chpwd" class="label">비밀번호 확인</label>
        <input class="chpwd" type="password" class="input" data-type="password">
      </div>

      <div class="group">
        <input type="submit" class="button"  action="/signup" value="Sign In">
      </div>

      <div class="hr"></div>

      <div class="group">
        <label class="label">계정 삭제</label>
        <p>password 입력</p> <input type="password" class="form-control" name="password">
      </div>

      <div class="group">
        <input type="submit" class="button"  action="/signup" value="Sign In">
      </div>
    <div>
</div>
