<div class="login-wrap">
  <form class="login-form">
      <div class="group">
        <label class="label">프로필</label>
          <p> email : <%=username %> </p>
      </div>

      <div class="group">
        <label for="chpwd" class="label">이전 비밀번호</label>
        <input class="chpwd" type="password" class="input" data-type="password">
        <label for="chpwd" class="label">새 비밀번호</label>
        <input class="chpwd" type="password" class="input" data-type="password">
        <label for="chpwd" class="label">비밀번호 확인</label>
        <input class="chpwd" type="password" class="input" data-type="password">
      </div>

      <div class="group">
        <input type="submit" class="button"  action="/signup" value="submit">
      </div>

      <div class="group">
        <label class="label">계정 삭제</label>
        <p>password : </p> <input type="password" class="form-control" name="password">
      </div>

      <div class="group">
        <input type="submit" class="button"  action="/signup" value="submit">
      </div>

      <div class="group">
        <label for="auth" class="label">이메일 인증</label>
        <input class="auth" type="email" class="input" name="email">
        <input type="submit" class="button"  action="/emailVerification" value="submit">
      </div>

    </form>
</div>
