<div class="login-wrap">
  <form class="login-form">
      <div class="group">
        <label class="label">프로필</label>
          <p> <%=username %> 님, 안녕하세요. :) </p>
      </div>

      <form action="/changePassword" method="post">
          <div class="form-group">
              <label>이전 비밀번호</label>
              <input type="text" class="form-control" name="prevPassword">
          </div>
          <div class="form-group">
              <label>새 비밀번호</label>
              <input type="password" class="form-control" name="newPassword">
          </div>
          <div class="form-group">
              <label>새 비밀번호 확인</label>
              <input type="password" class="form-control" name="newPasswordCheck">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">확인</button>
      </form>

      <form action="/emailVerification" method="post">
          <div class="form-group">
              <label>이메일</label>
              <input type="email" class="form-control" name="email">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">인증</button>
      </form>

    </form>
</div>
